{% extends 'base.html'%}


{% block content%}

    <div style="background-image:url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.telekom.com%2Fresource%2Fimage%2F530616%2Flandscape_ratio2x1%2F3000%2F1500%2Fc3e6730fcd3f9223420a2ab53db0ede4%2Fpo%2Fbi-blogschmuckbild-en.jpg&imgrefurl=https%3A%2F%2Fwww.telekom.com%2Fen%2Fblog&docid=5Z4ZlrLe1W-auM&tbnid=acVyyNG-D7nECM%3A&vet=10ahUKEwj9gNLvl8fgAhXnA2MBHd6jA2AQMwhrKAIwAg..i&w=3000&h=1500&client=ubuntu&bih=601&biw=1366&q=blog%20images&ved=0ahUKEwj9gNLvl8fgAhXnA2MBHd6jA2AQMwhrKAIwAg&iact=mrc&uact=8);
    display:cover;font-size: 20px;text-align: center">

    <h1 style="color:blue; ">welcome to blog</h1>

        {% for blog in blogs %}
                    <h4>Category: {{ blog.category }}</h4>

                    <p> {{ blog.title }}</p>
                    <p>{{ blog.content }} </p>
                    <p>{{ blog.date_of_blog }}</p>
                    <a href="/blog/{{blog.id}}">COMMENT</a>
                </
        {% endfor %}


</div>
    <p class="btn-group-lg"><a href="/blog/new">ADD BLOG</a></p>
{% endblock content%}
